@import "./common/cnbc_resets";
@import "./common/variables";
@import "./common/mixins";
@import "./common/animate";
@import "./common/helpers";

#CNBCCatalystCampaign_Root {
  min-height: 100vh;
  font-family: "Proxima Nova", sans-serif;
  overflow: hidden;
  width: 100%;
}

.section1 {
  margin-top: -60px;
}

.anaplan__cta {
  max-width: 600px;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  a {
    background-color: #436ae2;
    color: white !important;
    text-decoration: none;
    padding: 0.5rem 2rem;

    &:hover {
      color: white !important;
    }
  }
}
